

KAFKA_BROKERS=localhost:9092

API_ADDR=:8000

RECEIVER_ADDRS=:8080,:8081,:8082
METRICS_ADDR=:9100

EVENTS_TOPIC=events
RETRIES_TOPIC=retries
DLQ_TOPIC=dead-letter
DELIVERY_GROUP=delivery-worker
RETRY_GROUP=retry-worker

BATCH_CAPACITY=50
BATCH_FILL_TIMEOUT=200ms
MAX_CONCURRENCY=10
MAX_CONCURRENCY_PER_HOST=5

MAX_IDLE_CONNS=10
MAX_IDLE_CONNS_PER_HOST=5


PRODUCER_BATCH_TIMEOUT=10ms

RETRY_COUNT_LIMIT=5
BASE_BACKOFF=1s


MAX_EVENT_AGE=1h

BREAKER_FAILURE_THRESHOLD=5
BREAKER_COOLDOWN=45s

DELIVERY_TIMEOUT=10s

LOG_LEVEL=info
